In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [3]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [6]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///irysy.db')

In [7]:
df.to_sql('dane', con=engine, index=False)

In [8]:
a = engine.execute("SELECT * FROM dane").fetchall()

In [9]:
a

[(5.1, 3.5, 1.4, 0.2, 0.0),
 (4.9, 3.0, 1.4, 0.2, 0.0),
 (4.7, 3.2, 1.3, 0.2, 0.0),
 (4.6, 3.1, 1.5, 0.2, 0.0),
 (5.0, 3.6, 1.4, 0.2, 0.0),
 (5.4, 3.9, 1.7, 0.4, 0.0),
 (4.6, 3.4, 1.4, 0.3, 0.0),
 (5.0, 3.4, 1.5, 0.2, 0.0),
 (4.4, 2.9, 1.4, 0.2, 0.0),
 (4.9, 3.1, 1.5, 0.1, 0.0),
 (5.4, 3.7, 1.5, 0.2, 0.0),
 (4.8, 3.4, 1.6, 0.2, 0.0),
 (4.8, 3.0, 1.4, 0.1, 0.0),
 (4.3, 3.0, 1.1, 0.1, 0.0),
 (5.8, 4.0, 1.2, 0.2, 0.0),
 (5.7, 4.4, 1.5, 0.4, 0.0),
 (5.4, 3.9, 1.3, 0.4, 0.0),
 (5.1, 3.5, 1.4, 0.3, 0.0),
 (5.7, 3.8, 1.7, 0.3, 0.0),
 (5.1, 3.8, 1.5, 0.3, 0.0),
 (5.4, 3.4, 1.7, 0.2, 0.0),
 (5.1, 3.7, 1.5, 0.4, 0.0),
 (4.6, 3.6, 1.0, 0.2, 0.0),
 (5.1, 3.3, 1.7, 0.5, 0.0),
 (4.8, 3.4, 1.9, 0.2, 0.0),
 (5.0, 3.0, 1.6, 0.2, 0.0),
 (5.0, 3.4, 1.6, 0.4, 0.0),
 (5.2, 3.5, 1.5, 0.2, 0.0),
 (5.2, 3.4, 1.4, 0.2, 0.0),
 (4.7, 3.2, 1.6, 0.2, 0.0),
 (4.8, 3.1, 1.6, 0.2, 0.0),
 (5.4, 3.4, 1.5, 0.4, 0.0),
 (5.2, 4.1, 1.5, 0.1, 0.0),
 (5.5, 4.2, 1.4, 0.2, 0.0),
 (4.9, 3.1, 1.5, 0.2, 0.0),
 (5.0, 3.2, 1.2, 0.2, 0.0),
 (5.5, 3.5, 1.3, 0.2, 0.0),
 (4.9, 3.6, 1.4, 0.1, 0.0),
 (4.4, 3.0, 1.3, 0.2, 0.0),
 (5.1, 3.4, 1.5, 0.2, 0.0),
 (5.0, 3.5, 1.3, 0.3, 0.0),
 (4.5, 2.3, 1.3, 0.3, 0.0),
 (4.4, 3.2, 1.3, 0.2, 0.0),
 (5.0, 3.5, 1.6, 0.6, 0.0),
 (5.1, 3.8, 1.9, 0.4, 0.0),
 (4.8, 3.0, 1.4, 0.3, 0.0),
 (5.1, 3.8, 1.6, 0.2, 0.0),
 (4.6, 3.2, 1.4, 0.2, 0.0),
 (5.3, 3.7, 1.5, 0.2, 0.0),
 (5.0, 3.3, 1.4, 0.2, 0.0),
 (7.0, 3.2, 4.7, 1.4, 1.0),
 (6.4, 3.2, 4.5, 1.5, 1.0),
 (6.9, 3.1, 4.9, 1.5, 1.0),
 (5.5, 2.3, 4.0, 1.3, 1.0),
 (6.5, 2.8, 4.6, 1.5, 1.0),
 (5.7, 2.8, 4.5, 1.3, 1.0),
 (6.3, 3.3, 4.7, 1.6, 1.0),
 (4.9, 2.4, 3.3, 1.0, 1.0),
 (6.6, 2.9, 4.6, 1.3, 1.0),
 (5.2, 2.7, 3.9, 1.4, 1.0),
 (5.0, 2.0, 3.5, 1.0, 1.0),
 (5.9, 3.0, 4.2, 1.5, 1.0),
 (6.0, 2.2, 4.0, 1.0, 1.0),
 (6.1, 2.9, 4.7, 1.4, 1.0),
 (5.6, 2.9, 3.6, 1.3, 1.0),
 (6.7, 3.1, 4.4, 1.4, 1.0),
 (5.6, 3.0, 4.5, 1.5, 1.0),
 (5.8, 2.7, 4.1, 1.0, 1.0),
 (6.2, 2.2, 4.5, 1.5, 1.0),
 (5.6, 2.5, 3.9, 1.1, 1.0),
 (5.9, 3.2, 4.8, 1.8, 1.0),
 (6.1, 2.8, 4.0, 1.3, 1.0),
 (6.3, 2.5, 4.9, 1.5, 1.0),
 (6.1, 2.8, 4.7, 1.2, 1.0),
 (6.4, 2.9, 4.3, 1.3, 1.0),
 (6.6, 3.0, 4.4, 1.4, 1.0),
 (6.8, 2.8, 4.8, 1.4, 1.0),
 (6.7, 3.0, 5.0, 1.7, 1.0),
 (6.0, 2.9, 4.5, 1.5, 1.0),
 (5.7, 2.6, 3.5, 1.0, 1.0),
 (5.5, 2.4, 3.8, 1.1, 1.0),
 (5.5, 2.4, 3.7, 1.0, 1.0),
 (5.8, 2.7, 3.9, 1.2, 1.0),
 (6.0, 2.7, 5.1, 1.6, 1.0),
 (5.4, 3.0, 4.5, 1.5, 1.0),
 (6.0, 3.4, 4.5, 1.6, 1.0),
 (6.7, 3.1, 4.7, 1.5, 1.0),
 (6.3, 2.3, 4.4, 1.3, 1.0),
 (5.6, 3.0, 4.1, 1.3, 1.0),
 (5.5, 2.5, 4.0, 1.3, 1.0),
 (5.5, 2.6, 4.4, 1.2, 1.0),
 (6.1, 3.0, 4.6, 1.4, 1.0),
 (5.8, 2.6, 4.0, 1.2, 1.0),
 (5.0, 2.3, 3.3, 1.0, 1.0),
 (5.6, 2.7, 4.2, 1.3, 1.0),
 (5.7, 3.0, 4.2, 1.2, 1.0),
 (5.7, 2.9, 4.2, 1.3, 1.0),
 (6.2, 2.9, 4.3, 1.3, 1.0),
 (5.1, 2.5, 3.0, 1.1, 1.0),
 (5.7, 2.8, 4.1, 1.3, 1.0),
 (6.3, 3.3, 6.0, 2.5, 2.0),
 (5.8, 2.7, 5.1, 1.9, 2.0),
 (7.1, 3.0, 5.9, 2.1, 2.0),
 (6.3, 2.9, 5.6, 1.8, 2.0),
 (6.5, 3.0, 5.8, 2.2, 2.0),
 (7.6, 3.0, 6.6, 2.1, 2.0),
 (4.9, 2.5, 4.5, 1.7, 2.0),
 (7.3, 2.9, 6.3, 1.8, 2.0),
 (6.7, 2.5, 5.8, 1.8, 2.0),
 (7.2, 3.6, 6.1, 2.5, 2.0),
 (6.5, 3.2, 5.1, 2.0, 2.0),
 (6.4, 2.7, 5.3, 1.9, 2.0),
 (6.8, 3.0, 5.5, 2.1, 2.0),
 (5.7, 2.5, 5.0, 2.0, 2.0),
 (5.8, 2.8, 5.1, 2.4, 2.0),
 (6.4, 3.2, 5.3, 2.3, 2.0),
 (6.5, 3.0, 5.5, 1.8, 2.0),
 (7.7, 3.8, 6.7, 2.2, 2.0),
 (7.7, 2.6, 6.9, 2.3, 2.0),
 (6.0, 2.2, 5.0, 1.5, 2.0),
 (6.9, 3.2, 5.7, 2.3, 2.0),
 (5.6, 2.8, 4.9, 2.0, 2.0),
 (7.7, 2.8, 6.7, 2.0, 2.0),
 (6.3, 2.7, 4.9, 1.8, 2.0),
 (6.7, 3.3, 5.7, 2.1, 2.0),
 (7.2, 3.2, 6.0, 1.8, 2.0),
 (6.2, 2.8, 4.8, 1.8, 2.0),
 (6.1, 3.0, 4.9, 1.8, 2.0),
 (6.4, 2.8, 5.6, 2.1, 2.0),
 (7.2, 3.0, 5.8, 1.6, 2.0),
 (7.4, 2.8, 6.1, 1.9, 2.0),
 (7.9, 3.8, 6.4, 2.0, 2.0),
 (6.4, 2.8, 5.6, 2.2, 2.0),
 (6.3, 2.8, 5.1, 1.5, 2.0),
 (6.1, 2.6, 5.6, 1.4, 2.0),
 (7.7, 3.0, 6.1, 2.3, 2.0),
 (6.3, 3.4, 5.6, 2.4, 2.0),
 (6.4, 3.1, 5.5, 1.8, 2.0),
 (6.0, 3.0, 4.8, 1.8, 2.0),
 (6.9, 3.1, 5.4, 2.1, 2.0),
 (6.7, 3.1, 5.6, 2.4, 2.0),
 (6.9, 3.1, 5.1, 2.3, 2.0),
 (5.8, 2.7, 5.1, 1.9, 2.0),
 (6.8, 3.2, 5.9, 2.3, 2.0),
 (6.7, 3.3, 5.7, 2.5, 2.0),
 (6.7, 3.0, 5.2, 2.3, 2.0),
 (6.3, 2.5, 5.0, 1.9, 2.0),
 (6.5, 3.0, 5.2, 2.0, 2.0),
 (6.2, 3.4, 5.4, 2.3, 2.0),
 (5.9, 3.0, 5.1, 1.8, 2.0)]

In [10]:
pd.DataFrame(a, columns=df.columns)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [11]:
df2 = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df2

     name
0  User 1
1  User 2
2  User 3

In [12]:
df2.to_sql('users', con=engine)

engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [13]:
df3 = pd.DataFrame({'name' : ['User 6', 'User 7']})


df3.to_sql('users', con=engine, if_exists='append')

In [14]:
engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'), (0, 'User 6'), (1, 'User 7')]

In [15]:
from sqlalchemy import create_engine
from sqlalchemy import Column, String, Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [16]:
engine = create_engine('sqlite:///irysy.db')

base = declarative_base()

In [17]:
class Transakcje(base):
    
    __tablename__ = 'transakcje'
    
    transakcja_id = Column(Integer, primary_key=True )
    data = Column(String)
    przedmiot_id = Column(Integer)
    cena = Column(Integer)
    
    def __init__(self, transakcja_id, data, przedmiot_id, cena):
        self.transakcja_id = transakcja_id
        self.data = data
        self.przedmiot_id = przedmiot_id
        self.cena = cena

In [18]:
# tworzenie tabel
base.metadata.create_all(engine)

In [19]:
from sqlalchemy.orm import sessionmaker
# Stworzenie nowej sesji
Session = sessionmaker(bind=engine)
session = Session()
# dodanie danych
for t in range(10):
    tr = Transakcje(t, f'200{t}/05/06', t**2-t*2, 19)
    session.add(tr)
# zapis zmian w bazie danych
session.commit()

In [20]:
# Session = sessionmaker(bind=engine)
# session = Session()
# wszystkie dane
for s in session.query(Transakcje).all():
    print(s.transakcja_id, s.data, s.cena)

0 2000/05/06 19
1 2001/05/06 19
2 2002/05/06 19
3 2003/05/06 19
4 2004/05/06 19
5 2005/05/06 19
6 2006/05/06 19
7 2007/05/06 19
8 2008/05/06 19
9 2009/05/06 19

In [21]:
# wybrane transakcje
for s in session.query(Transakcje).filter(Transakcje.transakcja_id>5):
    print(s.transakcja_id, s.data)

6 2006/05/06
7 2007/05/06
8 2008/05/06
9 2009/05/06

In [22]:
import json

In [23]:
{"name": "Bob", "languages": ["English", "Fench"]}

{'name': 'Bob', 'languages': ['English', 'Fench']}

<name> to jest akapit </name>
<languages> english French</languages>

In [24]:
person = '{"name": "Bob", "languages": ["English", "French"]}'

type(person)

str

In [25]:
person_dict = json.loads(person)

# Output: {'name': 'Bob', 'languages': ['English', 'Fench']}
print( person_dict)

# Output: ['English', 'French']
print(person_dict['languages'])

{'name': 'Bob', 'languages': ['English', 'French']}
['English', 'French']

In [26]:
%%file test.json


{"name": "Bob", 
"languages": ["English", "Fench"]
}

Overwriting test.json

In [27]:
with open('test.json') as f:
    data = json.load(f)

# Output: {'name': 'Bob', 'languages': ['English', 'Fench']}
print(data)

{'name': 'Bob', 'languages': ['English', 'Fench']}

In [28]:
person_dict = {'name': 'Bob',
'age': 12,
'children': None
}
person_json = json.dumps(person_dict)

print(person_json)

{"name": "Bob", "age": 12, "children": null}

In [29]:
with open('person.json', 'w') as json_file:
    json.dump(person_dict, json_file)

In [30]:
print(json.dumps(person_dict, indent = 4, sort_keys=True))

{
    "age": 12,
    "children": null,
    "name": "Bob"
}

In [ ]:
'MongoDB'

In [31]:
from flask import Flask, request
from flask_restful import Resource, Api

from flask_jsonpify import jsonify

In [32]:
app  = Flask(__name__)

api = Api(app)


@app.route('/')
@app.route('/index')
def home():
    #return render_template('home.html')
    return "<h1>Strona poczatkowa</h1>"

@app.route('/hello/<name>')
def success(name):
    return f'<h1>{name}</h1>'

In [34]:
class Main(Resource):
    def get(self):
        return jsonify("Hello world")

In [35]:
api.add_resource(Main,'/test')

In [37]:
class Irys(Resource):
    
    def get(self):
        conn=engine.connect()
        query = conn.execute('select * from dane')
        result = {'dane':[i for i in query.cursor.fetchall()]}
        return jsonify(result)

In [38]:
api.add_resource(Irys, '/irys')

In [39]:
app.run(port='5002')

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5002/ (Press CTRL+C to quit)
127.0.0.1 - - [13/Apr/2021 20:23:55] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/Apr/2021 20:23:58] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/Apr/2021 20:23:59] "GET /irys HTTP/1.1" 200 -
127.0.0.1 - - [13/Apr/2021 20:23:59] "GET /iris HTTP/1.1" 404 -
127.0.0.1 - - [13/Apr/2021 20:24:03] "GET /iris HTTP/1.1" 404 -
127.0.0.1 - - [13/Apr/2021 20:24:03] "GET /irys HTTP/1.1" 200 -